<nav>
  <ul>
    <li>
      <a href="/">home</a>
    </li>
    <li>
      <a href="/contact">contact</a>
    </li>
    <li>
      <a href="/dashboard">dashboard</a>
    </li>
    <li>
      <a href="/invoices">invoices</a>
    </li>
    <li>
      <a href="/details">invoice info</a>
    </li>
    <li>
      <a href="/clients">clients</a>
    </li>
    <li>
      <a href="/users">users</a>
    </li>
    <li>
      <a href="/login">login</a>
    </li>
    <li>
      <a href="/logout">log out</a>
    </li>
  </ul>
</nav>
