<div class="actionBox">
  <header>
    <h1>Editing invoice <%= data.invNo%>.</h1>
  </header>
  <div class="form-header">
    <% if (Object.keys(errors).length > 0) { %>
      <h2 class="errors-heading">Have another go...</h2>
      <ul class="errors-list">
        <% Object.values(errors).forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>
  </div>

  <form method="post" action="/invoices/<%= data._id%>?_method=put" novalidate>

    <% include ../partials/invoicefields %>

    <div class="form-actions">
      <button class="btn" type="submit">Update</button>
    </div>

  </form>
</div>
