<h1>Dashboard</h1>
<div class="summary">
  <p>x invoices sent, total billed</p>
  <p>x invoices paid, total received</p>
</div>
<div class="outstanding-invoices">
  <p>table of outstanding invoices with buttons to edit or mark as paid</p>
</div>
<div class="search-invoices">
  <p>search invoices</p>
  <p>from / to</p>
</div>
