<h1>Dashboard</h1>
<div class="summary">

  <div class="summary">
    <p>x clients over x weeks.</p>
    <p>Average weekly earnings £</p>
    <p>x invoices sent, £xxx received</p>
  </div>

  <div class="outstanding-invoices">
      <p>£xxx due from x invoices.</p>
      <p>table of due invoices with ajax to mark as paid.</p>
    </div>

</div>
