<header>
  <h1><%=errorCode%></h1>
  <h3><%=errorTag%></h3>
  <p><%=errorMessage%></p>
  <p>Still haven't found what you're looking for ?</p>
  <p>Why don't you head <a href="/">home</a>.</p>
</header>
