<!DOCTYPE html>
<html>
  <head>
    <% include  partials/head %>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <script src="/main.js" charset="utf-8"></script>
    <link href="/favicon.png" rel="icon">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  </head>
  <div class="wrapper">
    <body>
      <header class='header'>
        <% include partials/header %>
      </header>
      <main class='page'>
      <% if (typeof messages !== 'undefined') { %>
        <% if (messages.success) { %>
          <div class="flash flash-success centre"><%= messages.success %></div>
        <% } %>
        <% if (messages.alert) { %>
          <div class="flash flash-alert centre"><%= messages.alert %></div>
        <% } %>
      <% } %>
        <section class='content'>
          <%- body %>
        </section>
      </main>
      <footer class="footer">
        <% include partials/footer %>
      </footer>
    </body>
  </div>
</html>
