<!DOCTYPE html>
<html>
  <head>
    <% include  partials/head %>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <script src="/main.js" charset="utf-8"></script>
  </head>

  <body>

    <header>
      <% include partials/header %>
    </header>

    <main>
    <% if (typeof messages !== 'undefined') { %>

      <% if (messages.success) { %>
        <div class="flash flash-success"><%= messages.success %></div>
      <% } %>
      <% if (messages.alert) { %>
        <div class="flash flash-alert"><%= messages.alert %></div>
      <% } %>

    <% } %>

      <section>
        <%- body %>
      </section>
    </main>

    <footer class="footer">
      <% include partials/footer %>
    </footer>

  </body>
</html>
