/* reset */
  html, body, div, span, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  abbr, address, cite, code,
  del, dfn, em, img, ins, kbd, q, samp,
  small, strong, sub, sup, var,
  b, i,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section, summary,
  time, mark, audio, video {
      margin:0;
      padding:0;
      border:0;
      outline:0;
      font-size:100%;
      vertical-align:baseline;
      background:transparent;
  }

  body {
      line-height:1;
  }

  article,aside,details,figcaption,figure,
  footer,header,hgroup,menu,nav,section {
      display:block;
  }

  nav ul,
  ul {
      list-style:none;
  }


  blockquote, q {
      quotes:none;
  }

  blockquote:before, blockquote:after,
  q:before, q:after {
      content:'';
      content:none;
  }

  a {
      margin:0;
      padding:0;
      font-size:100%;
      vertical-align:baseline;
      background:transparent;
  }

  /* change colours to suit your needs */
  ins {
      background-color:#ff9;
      color:#000;
      text-decoration:none;
  }

  /* change colours to suit your needs */
  mark {
      background-color:#ff9;
      color:#000;
      font-style:italic;
      font-weight:bold;
  }

  del {
      text-decoration: line-through;
  }

  abbr[title], dfn[title] {
      border-bottom:1px dotted;
      cursor:help;
  }

  table {
      border-collapse:collapse;
      border-spacing:0;
  }

  /* change border colour to suit your needs */
  hr {
      display:block;
      height:1px;
      border:0;
      border-top:1px solid #cccccc;
      margin:1em 0;
      padding:0;
  }

  input, select {
      vertical-align:middle;
  }


/* reset end */


html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

div.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.1;
  min-height: 100vh;
  width: 100vw;
}

body {
  background: #fff;
  font-family: -apple-system, 'Segoe UI', sans-serif;
}

header.header {
  width : 100vw;
}

main.page{
  background: #fff;
	flex-grow: 1;
}

footer.footer,
footer.footer a{
	font-size: 1em;
	margin: 2.5vh 0 ;
	color: #ed6e2f;
  width: 100%;
  text-align: center;
}

/* forms and flashes */

.form-header {
  width: 100%;
  max-width: 600px;
}
form {
  width: 100%;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background: #f8f8f8;
  border: 1px solid rgba(0,0,0,.1);
  border-color: rgba(0,0,0,.05) rgba(0,0,0,.08) rgba(0,0,0,.1);
  border-radius: 3px;
  box-shadow: 0 3px 4px rgba(0,0,0,.05);
}
label {
  display: block;
  padding-bottom: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
.input {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  background: #fff;
  font: inherit;
}
.input:focus {
  outline: none;
  border-color: rgba(0,0,0,.3);
}
.form-field {
  margin-bottom: 10px;
}
.error, .errors-list {
  font-size: 14px;
  color: #C00;
}
.errors-list {
  margin: 0 0 1.5em;
  padding: 0 0 0 15px;
}
.form-field-invalid .input {
  border-color: #C00;
}
.form-actions {
  margin-top: 20px;
}
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background: #24b47e;
  border: 1px solid rgba(0,0,0,.1);
  border-width: 1px 1px 3px;
  border-radius: 3px;
  font: inherit;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0,0,0,.3), 0 1px 1px rgba(0,0,0,.2);
}

.danger {
  background :#d9534f;
}


.btn:hover,
.btn:focus {
  outline: none;
  background: #2AA172;
}

.danger:hover,
.danger:focus {
  outline: none;
  background: #CC0000;
}

.btn:active {
  transform: translateY(1px);
}
.flash {
  padding: 15px 20px;
  border: 1px solid;
  border-radius: 3px;
}
.flash-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.flash-alert {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

/* start mobile menu */

  input#mobile-menu.mobile-menu-check {
  	display :none;
  }

  .nav-links a,
  .show-mobile-menu {
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #ed6e2f;
    padding : 1em 1em;
  }

  label.show-mobile-menu{
    font-size: 1.25rem;
  	margin: 0;
  	padding: 1.25rem;
  	background-color: #444;
  }

  .show-mobile-menu {
    display: block;
    text-align: center;
    margin-top: 0.5vh;
    padding: 0 1.25em 1.25rem;
    position: relative;
  }
  .header-nav {
    background-color: #444;
    box-sizing: border-box;
    left: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 2.5rem;
    transition: all 0.5s ease-in-out;
    width: 100vw;
    z-index: 9;
  }
  .header-nav li {
    display: block;
    margin-top: 1.25em;
  }
  .header-nav li ~ li {
    border: 0;
    padding: 0;
  }
  .header-nav li:last-child {
    margin-bottom: 1.25em;
  }

  .header-nav .dropdown:hover .drop-menu,
  .header-nav .drop-trigger:after {
    display: none;
  }
  .header-nav .drop-trigger {
    padding-right: 0;
  }
  .mobile-menu-check:checked ~ .header-nav {
    max-height: 1000px;
  }
  .mobile-menu-check:checked ~ .show-mobile-menu:after {
    background-color: #444;
    color: #ed6e2f;
    content: "CLOSE";
    left: 0;
    position: absolute;
    top: 1em;
    width: 100%;
    text-align: center;
  }
	 .mobile-menu-check:checked ~ nav {
	   max-height: 1000px;
	}
/* end of mobile menu */















section header
{
  text-align: center;
    margin: 5vh;
}

/* typography */

.capitalize {
  text-transform: capitalize;
}

.title {
  font-weight : bold;
  text-transform: capitalize;
}
.owed {
   color: red;
 }


 .toggle-content {
 	display: none;
 	height: 0;
 	overflow: hidden;
 	transition: height 350ms ease-in-out;
 }

 .toggle-content.is-visible {
 	display: block;
 	height: auto;
 }

div.report-items {
  margin-bottom: 2.5vh;
}

 a.list-header {
   margin : 2em 0;
   padding : 1em 0;
 }

.actionBox {
  max-width: 600px;
  padding: 10px;
  background: #f8f8f8;
  border: 1px solid rgba(0,0,0,.1);
  border-color: rgba(0,0,0,.05) rgba(0,0,0,.08) rgba(0,0,0,.1);
  border-radius: 3px;
  box-shadow: 0 3px 4px rgba(0,0,0,.05);
}

.centre {
  text-align: center;
}

div.summary-details {
  margin: 5vh;
}

header {

}
