<div class="form-header">
  <% if (Object.keys(errors).length === 0) { %>
    <h1>Create a new user.</h1>
  <% } else { %>
    <h2 class="errors-heading">Oops, please correct the following:</h2>
    <ul class="errors-list">
      <% Object.values(errors).forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</div>

<form method="post" action="/users" novalidate>

  <% include ../partials/userfields %>

  <div class="form-actions">
    <button class="btn" type="submit">Create</button>
  </div>
</form>
