<header>
  <h1>App Users</h1>
</header>


<div class="actionBox">
  <ul>
  <% users.forEach((user) => {%>
    <li class='list'>
      <a href="/users/<%=user._id%>" class='capitalize'><%=user.firstName%></a>
    </li>
    <%})%>
  </ul>
</div>
<a class='btn' href="/users/new">Add a user.</a>
