<header>
  <h1>Users.</h1>
  <a href="/users/new">Add a new user.</a>
</header>


<div class="user-list">
  <ul>
  <% users.forEach((user) => {%>
    <li>
      <a href="/users/<%=user._id%>" class='capitalize'><%=user.firstName%></a>
    </li>
    <%})%>
  </ul>
</div>
